.data/
nginx/
logs/
docker-compose.yml
Dockerfile
README.md
requirements.txt
suiviprojets.geany
app/suiviprojets/__backup
app/suiviprojets/__pycache__

app/suiviprojets/suiviprojets.geany
app/suiviprojets/zabbix-proxy.yml
app/suiviprojets/zeeptest.py
app/suiviprojets/sharepy.py
app/suiviprojets/uwsgi.ini
app/suiviprojets/suiviprojets/dashboard/migrations
app/suiviprojets/suiviprojets
app/suiviprojets/suiviprojets/settings.py
app/suiviprojets/*.sql
app/suiviprojets/*.json

