/*/////////////////////////////////////////////////////////////////////
* 0.FENETRE PRINCIPALE
*////////////////////////////////////////////////////////////////////*/
body {
    background-color: $body-color;
    font-family:system-ui,sans-serif;
    font-size:10pt;
    height:1em;
}
h1{
	font-size:1.7em;
	font-weight:700;
	margin:1em 0;
}
#main-title{
	padding: 1.5em 0;
}
.main-title{
	padding: 1.5em 0;
	font-size:1.3em;
}
h2{
	font-size:1.5em;
	font-weight:500;
	margin:0 0.5em;
}
h3{
	font-size:1.3em;
	font-weight:700;
	margin:1em 0;
}


#wrapper{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	background-color: $gray-100;
	padding:0;
}
#voile{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width:100%;
}
.obscur{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:#000;
    filter : alpha(opacity=85);
    opacity : 0.75;
    z-index:2;
}
#window{
    position:fixed;
    top:0;
    left:50%;
    background-color:#fff;
    margin:50px -340px;
    -moz-transition:width linear 0.5s,height linear 0.5s;
    -ms-transition:width linear 0.5s,height linear 0.5s;
    -webkit-transition:width linear 0.5s,height linear 0.5s;
    -o-transition:width linear 0.5s,height linear 0.5s;
    transition:width linear 0.5s,height linear 0.5s;
    z-index:6;
    overflow-y:scroll;
    
}

#window p,#window div{
        overflow:hidden;
}

#window-content{
	padding:0.5em;

}
#message #message-header{

}
#close-window,#close-message{
    display:block;
    float:right;
    width:20px;
    height:auto;
    color:#000;
}
#close-window:hover,#close-message:hover{
    cursor:pointer;
}
#close-message{
    font-size:1.5em;
}
/*////////////////////////////////////////////////////
* FIN 0-FENETRE PRINCIPALE
/////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////
* 1-LISTE PRINCIPALE PROJETS ( liste d'elements )
*////////////////////////////////////////////////////////////////////*/

thead{
    background-color:#E0E0E1;;
    color:#727279;
}
thead .header-elt,.table-header .header-elt{
    vertical-align:middle;
    float:left;
    width:100%;
    height:35px;
}
thead .header div,.table-header div{
    margin-top:0;
}
thead .header .asc,.header .desc,.table-header .asc,.table-header .desc{
    clear:left;
    float:right;
    margin-top:0;
    width:8px;
    height:16px;
    background-image:url('/static/images/tri.png');
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:16px;
    
}
thead .header .desc,.table-header .desc{
     background-position:-8px 0;
}
table{
		border-collapse:collapse;
	}
	.diag{
		width:100%;
		height:auto;
		background-color:$gray-case;
		
	}

	.comp{
		margin:0;
		padding:0;
		background-color:$gray-case;
	}
	.comp-light{
		margin:0;
		padding:0;
		background-color:$gray-case-light;
	}
	
.no-diag {
    position: relative;
    height: 35px;
    width: 35px;
    overflow: hidden;
    background-color:$gray-case;
}
.diag-text-left,.diag-text-right{
	
	position:relative;
	height: 35px;
    width: 35px;
	top:1em;
	left:1em;
	font-size:0.7em;

}
.diag-text-right{
	right:1em;
}

table td, .table td {
	padding:0;
	margin:0;
}
.no-diag:before { 
    content:'';
    position: absolute;
    left:15%;
    width: 100%; 
    height: 200%;
    background-color: rgb(255, 255, 255); /* fallback */
    background-color: rgba(255, 255, 255, 0.5);
    
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.red td{
	background-color:rgba(199,0,57,0.5);
	
}
.red td.comp-light{
	background-color:rgba(231,157,178);
}
.yellow td{
	background-color: rgb(255,195,0); /* fallback */
	background-color:rgba(255,195,0,0.5);
}
.yellow td.comp-light{
	background-color:rgba(249,227,156);
}
/*////////////////////////////////////////////////////
* FIN 1-LISTE PRINCIPALE
/////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////
 *  2-BANDEAU FILTRES
 *
 * */////////////////////////////////////////////
 .arrow {
  float: right;
  width: 15px;
  height: 15px;
  margin: 7.5px;
  overflow: hidden;
  background-image: url("/static/images/showhide.png");
  background-repeat: no-repeat;
  background-size: 30px;
  vertical-align: middle;
}
.dshow {
  background-position: 0 0;
}
.dhide {
  background-position: -15px 0;
}
#files-div
{
    padding:2em;
    width:80%;
    height:250px;
    overflow:auto;
    border:solid thin #000;

}
#filtres{
	margin:0;
}
.hidden-block{
	overflow:hidden;
}
.file
{
    display:inline-block;
}
.file-del
{
  display:block;
  float:right;
  width:26px;
  height: 25px;
  margin-right:25px;
  background-image: url('/static/images/bouton-close.png');
  background-size: 55px 25px;
  background-position:0px;
  background-repeat: no-repeat;
}
.file-del:hover
{
    background-position:-26px 0;
}
.file-icon
{
  clear:right;
  display:block;
  width: 50px;
  height: 50px;
  background-image: url('/static/images/file.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
.file-lien
{
    display:block;
    max-width:70px;
    height:25px;
    overflow:hidden;
}
/*////////////////////////////////////////////////////
* FIN 2-BANDEAU FILTRES
/////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////
 *  3-TACHES EN COURS ( Agenda )
 *////////////////////////////////////////////*/
 
.fc-scrollgrid-section-body .fc-scrollgrid-sync-table tr:nth-of-type(even){
	background-color: $cyan;
}
.fc-timeline-body .fc-scrollgrid-sync-table tr:nth-of-type(even){
	background-color: $cyan;
}
.fc-timeline-body .fc-scrollgrid-sync-table tr:nth-of-type(odd){
	background-color: #FFF;
}
/*////////////////////////////////////////////////////
* FIN 3-TACHES EN COURS
/////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////
 *  4-DETAILS CLIENTS
 *////////////////////////////////////////////*/
span.statut{
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:10px;
}
#resume{

	label{
		font-weight:700;
		font-style:underline;
	}
}
/*////////////////////////////////////////////////////
* FIN 4-DETAILS CLIENTS
/////////////////////////////////////////////////////*/

#formulaire label {
	min-width:100px;
}
