<div class="content-carte">
	<h4 class="title-carte"><a id="projet-link-{{elt.projet.id}}" class="projet-link" href="/projet/{{elt.projet.id}}">{{elt.projet}}</a></h4>
		<div id="task-link-{{elt.id}}" data-id="{{elt.id}}" class="task-link">
			{% if elt.contact != "" %}
				<p class="contact"><label>Personne à contacter :</label><span>{{elt.contact}}</span></p>
			{% endif %}
			{% if elt.nom != "" %}
				<p class="nom"><label> :</label><span>{{elt.nom}}</span></p>
			{% endif %}
			<p class="date-programmee"><label>Date programmée :</label><span>{{elt.date_programmee}}</span></p>
			<p class="description"><label>Description : </label><span>{{ elt.description }}</span></p>
			{% if elt.intervenant %}
			<p class="tech-carte"><label>Personnes en charge : </label>
				<span>
					{% for i in elt.intervenant.all %}
						{{i}}&nbsp;
					{% endfor %}
				</span>
			</p>
			{% endif %}
		</div>
		<a id="{{elt.task_type.tag}}-{{elt.id}}-edit" class="edit" data-objet="{{elt.task_type.tag}}" data-projet="{{elt.projet.id}}" data-client="{{elt.projet.client.id}}" data-id="{{elt.id}}">Edit</a>
</div>
