<div class="content-carte">
	<h4 class="title-carte">{{elt.projet.client}}</h4>
		{% if elt.contact != "" %}
			<p class="contact"><label>Personne à contacter :</label><span>{{elt.contact}}</span></p>
		{% endif %}
		{% if elt.nom != "" %}
			<p class="nom"><label> :</label><span>{{elt.nom}}</span></p>
		{% endif %}
		<p class="date-programmee"><label>Date programmée :</label><span>{{elt.date_programmee}}</span></p>
		<p class="description"><label>Description : </label><span>{{ elt.description }}</span></p>
		<p class="tech-carte"><label>Responsable : </label><span>{{elt.intervenant}}</span></p>
</div>
