<script>
	var resources = {{resources|safe}};
	var events = {{events|safe}}; 
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendarAll');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'resourceTimelineMonth',
          aspectRatio:1,
          headerToolbar:{
			left:'prev,next',
			center:'title' 
		 },
		 
		 dayHeaderFormat:{ weekday: 'long', month: 'numeric', day: 'numeric', omitCommas: true },
		 slotLabelFormat: [
		  /*{ month: 'long', year: 'numeric' }, // top level of text*/
		  { weekday:'short'},
		  { day:'numeric' } // lower level of text
		],
		 editable:true,
		 resourceAreaHeaderContent:'Projets',
		 resourceAreaWidth:200,
		 resources:resources,
		 events:events,
		 eventMinWidth:100,
		 slotMinWidth:100,
		 eventContent:function(arg){
			let statut_marker=document.createElement("span");
			statut_marker.setAttribute("class","statut");
			statut_marker.setAttribute("style","background-color:#"+arg.event.extendedProps.statut+";");
			let content=document.createElement("p");
			content.setAttribute("title",arg.event.extendedProps.description);
			content.innerHTML=arg.event.title;
			let arrayofDomNodes=[statut_marker,content];
			return {domNodes:arrayofDomNodes};
																					
																				}
        });
        calendar.render();
      });

    </script>

    <div id='calendarAll'></div>
