
    <!--<link href="/static/css/essai.css" rel="stylesheet"></link>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <script src='https://unpkg.com/leaflet-gpx@1.0.0/gpx.js'></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.1/gpx.min.js"></script>
   <script src="/static/js/xmlParser.js"></script>
   <script src="/static/js/node_modules/tcx/tcx.js"></script>
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>

   <style>
	
	#icon{
    		
    		background-position:{{session.icone}};
    	}
    	
   </style>

<!-- Page d'index -->
{% block content %}
<body>
<section id="global-content">
    <div class="row main-title">
        <div class="col-12 text-align-center">
                <h2>D&eacute;tails de la séance du {{session.date}}&nbsp;&nbsp;<span id="icon"></span></h2>
        </div>
    </div>
    <div class="row">

        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <style>
            
                    </style>
                    
                    <h3 class="detail-title-h3">Parcours</h3> 
                    <div id="mapid" style="display: block;width: 400px;height: 400px;">
                            <script>
                                var filename='/static/gpx/{{session.id}}.{{session.type_fichier}}';
                                var x=new XMLParser(filename);

                                var center=x.calculCenter();
                                var mymap = L.map('mapid').setView([center.x, center.y], 13);

                                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            minZoom: 10,
                            maxZoom: 18,
                            id: 'mapbox/streets-v11',
                            tileSize: 512,
                            zoomOffset: -1,
                            accessToken: 'pk.eyJ1IjoibWFwYm94cHJvZyIsImEiOiJjazl5OWhheDUwMnZnM2ZzMnY2dnk0YjVjIn0.fXDQvkbbgtM3GdJ0lkDJLQ'
                        }).addTo(mymap);
                        // LOAD GPX or TCX FILE -------------------------------------

                        if(filename.match(/\.tcx$/,'i'))
                        {
                            var myLayer=L.geoJSON().addTo(mymap);
                            myLayer.addData(x.convertFile);
                        }
                        else if (filename.match(/\.gpx$/,'i'))
                        {
                            new L.GPX(filename, {
                                async: true,
                                opacity: 0.6,
                                weight:  3.5,
                                marker_options:{
                                    startIconUrl:'/static/images/pin-icon-start.png',
                                    endIconUrl:'/static/images/pin-icon-end.png',
                                    shadowUrl:'/static/images/pin-icon-shadow.png'
                                }
                              })
                              .on('loaded', function(e){
                                e.target.addTo(mymap);
                                mymap.fitBounds(e.target.getBounds());
                                /*$(".detail-title-h3").html("essai");*/
                              });
                        }
                              
                        
                           </script>
                    </div>
                </div><!--fin col-6-->
                <!-- autre colonne -->
                <div class="col-6">
                    <h3>Résumé</h3>
                    <div id="resume">
                        <p class="ligne"><span id="sport" class="label">Sport : </span><span>{{session.sport_type}}</span></p>
                        <p class="ligne"><span id="date" class="label">Date s&eacute;ance : </span><span>{{session.date}}</span></p>
                        <p class="ligne"><span id="heure_debut" class="label">Heure de d&eacute;but : </span><span>{{ session.start_time|time:'H\h:i\m'}}</span></p>
                        <p class="ligne"><span id="distance" class="label">Distance : </span><span>{{session.distance}}&nbsp;kms</span></p>
                        <p class="ligne"><span id="duree" class="label">Dur&eacute;e : </span><span>{{session.duration}}</span></p>
                        <p class="ligne"><span id="denivelle" class="label">D&eacute;nivell&eacute; total : </span><span>{{session.elevation_gain}}&nbsp;m</span></p>
                        <p class="ligne"><span id="avg_speed" class="label">Vitesse moyenne : </span><span>{{session.average_speed}}&nbsp;km/h</span></p>
                        <p class="ligne"><span id="max_speed" class="label">Vitesse maximum : </span><span>{{session.max_speed}}&nbsp;km/h</span></p>
                        
                    </div>
                </div>
            </div><!-- fin row interne-->
            <div class="row" height="120px">
                <div class="col-12">
                    
                    <canvas id="detail-graph" height="120px">
            
                    </canvas>
                    <script type="text/javascript" language="javascript">

                    var ctx = document.getElementById('detail-graph');
                    var myChart = new Chart('detail-graph', detailsGraph(x.createLabels(),x.toGraph(),'Détails de la séance'));
                
                </script>
                </div><!--fin col-12 -->
            </div><!-- fin row interne 2-->
        </div> <!-- fin colonne -8 -->
        <div class="col-4">
           <div class="row">
			   <div class="col-6">
		            <h3 class="detail-title-h3">Intervalles</h3>
	            </div>
	            <div class="col-6">
					<script>
						function calcul_tours(event){
							event.preventDefault();
							var tour = event.target.options[event.target.selectedIndex].value;
							console.log(tour);
							 $("#tours").empty().html(x.toIntervalles(x,tour));
							
						}
					</script>
		            <select id="select-tours" onchange="calcul_tours(event);">
						<option value="1">1 km</option>
						<option value="2">2 km</option>
						<option value="5">5 km</option>
						<option value="10">10 km</option>
		            </select>
	            </div>
            </div>
                <table class="table table-bordered">
                    <thead id="intervalles-head" class="thead-light ">
                    <tr>
                        <th class="align-middle">Distance (km)</th>
                        <th class="align-middle">Dur&eacute;e</th>
                        <th class="align-middle">Vitesse moyenne (km/h)</th>
                        <th class="align-middle">D&eacute;nivell&eacute; + (m)</th>
                        <th class="align-middle">D&eacute;nivell&eacute; - (m)</th>
                    </tr>
                    </thead>
                    
                    <tbody id="tours">
                        <script>
                            $("#tours").empty().html(x.intervalles);
                        </script>
                    </tbody>
                </table>
            
        </div><!-- col2-->
   </div><!-- row -->
  
</body>
</section>
{% endblock %}

