

   
<!-- Page d'index -->
{% block content %}
<body>
<section id="global-content">
  	<div class="row main-title">
  		<div id="main-title" class="col-12 text-center">
  				<h2>D&eacute;tails du projet n°{{projet.num_armoire}} Client {{projet.client.nom}}</h2>
  		</div>
  	</div>
  	<div class="row">
		{% csrf_token %}
		<div class="col-2" id="resume">
			<h3>Résumé :</h3>
			<div id="resume">
				<p class="ligne"><label id="forfait" class="label">Forfait : </label><span>{{projet.forfait.categorie_forfait}}</span></p>
				<p class="ligne"><label id="date_commande" class="label">Date de commande : </label><span>{{projet.forfait.date_commande}}</span></p>
			</div>
		</div>
		<div class="col-5" id="contacts">
			<div class="row">
				<div class="col-8 text-left">
					<h3>Contacts : </h3>
				</div>
				<div class="col-4 text-right">
					<a id="add-contact" data-objet="contact" class="btn btn-secondary" href='/admin/dashboard/contact/add/'>Ajouter contact</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<table id="contacts-table"class='table table-light table-striped'>
						<thead class="thead-light">
							<th>Nom</th>
							<th>Prénom</th>
							<th>@mail</th>
							<th>téléphones</th>
							<th>Edition</th>
						</thead>
						<tbody>
							{% for contact in projet.contacts %}
							<tr>
								<td class="contact-nom">{{contact.nom}}</td>
								<td class="contact-prenom">{{contact.prenom}}</td>
								<td class="contact-email">{{contact.email}}</td>
								<td class="contact-tel">{{contact.tel}}</td>
								<td class="contact-edit"><a id="edit" data-objet="contact" href='/admin/dashboard/contact/{{contact.id}}/change/'>Edit</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-5" id="echanges">
			<div class="row">
				<div class="col-8 text-left">
					<h3>Echanges : </h3>
				</div>
				<div class="col-4 text-right">
					<a id="add-echange" data-objet="echange" class="btn btn-secondary" href='/admin/dashboard/echange/add/'>Ajouter échange</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<table id="contacts-table" class="table table-striped">
						<thead class="thead-light">
							<th>Date</th>
							<th>Contact</th>
							<th>Motif</th>
							<th>Edition</th>
						</thead>
						<tbody>
							{% for echange in projet.echanges %}
							<tr>
								<td class="echange-date">{{echange.date|date:'d/m/Y'}}</td>
								<td class="echange-contact">{{echange.contact}}</td>
								<td class="echange-type">{{echange.type_echange}}</td>
								<td><a id=""href='/admin/dashboard/echange/{{echange.id}}/change/'>Edit</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
  	</div>
  </div>
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="col-8 text-left">
					<h3>Prestations & D&eacute;veloppements Sp&eacute;cifiques :</h3>
				</div>
				<div class="col-4 text-right">
					<a class="btn btn-secondary" href='/admin/dashboard/prestation/add/'>Ajouter prestation</a>
				</div>
			</div>
			<div id="prestations">
				<table class='table table-striped'>
					<thead class="thead-light">
						<tr>
							<th>Type prestation</th>
							<th>Intervenant</th>
							<th>Date programmée</th>
							<th>statut</th>
							<th>Edition</th>
						</tr>
					</thead>
					<tbody>
						{% for pr in projet.prestations %}
						<tr>
							<td class="prestation-type">{{pr.type_prestation}}</td>
							<td class="prestation-intervenant">{{pr.intervenant}}</td>
							<td class="prestation-date">{{pr.date_programmee|date:"d/m/Y"}}</td>
							<td class="prestations-statut">{{pr.statut.statut}}</td>
							<td class="prestation-edit"><a href='/admin/dashboard/prestation/{{pr.id}}/change/'>Edit</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!--fin col-6-->
		<!-- autre colonne -->
	    <div class="col-6">
			<div class="row">
				<div class="col-9 text-left">
					<h3>Etat des tâches :</h3>
				</div>
				<!--<div class="col-1"></div>-->
				<div class="col-3 text-right">
					<a class="btn btn-secondary" href='/admin/dashboard/tache/add/'>Ajouter tâche</a>
				</div>
			</div>
			<div id="taches">
				<table class='table table-striped'>
					<thead class='thead-light'>
						<tr>
							<th>Nom</th>
							<th>Prévue le</th>
							<th>Echéance</th>
							<th >Statut</th>
							<th>Responsables</th>
							<!--<th>Description</th>-->
							<th>Edition</th>
						</tr>
					</thead>
					<tbody>
						{% for ta in projet.taches %}
						<tr>
							<td class="task-nom">{{ta.nom}}</td>
							<td class="tast-date">{{ta.date_programmee|date:"d/m/Y"}}</td>
							<td class="task-echeance">{{ta.date_echeance|date:"d/m/Y"}}</td>
							<td class="task-statut">{{pr.statut}}</td>
							<td class="task-presonne">{{ta.personne_en_charge}}</td>
							<!--<td class="task-description">{{ta.description}}</td>-->
							<td class="task-edit"><a href='/admin/dashboard/tache/{{ta.id}}/change/'>Edit</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	    </div>
	</div><!-- fin row interne-->
	<div class="row">
		<div class="col-12">
			<script>
				var eventsct={{client.eventsct|safe|default:'[]'}};
				var eventscp={{client.eventscp|safe|default:'[]'}};
				var eventsce={{client.eventsce|safe|default:'[]'}};
			</script>
			<div id="calendar"></div>
		</div>
	</div>

		

  </body>
</section>
{% endblock %}

