<div class="row">
    <div class="col-10">
        <div class="filtre filtre-line-1 row">
            <div id="line-1-bloc-1" class="col-3">
                    <div class="d-wrapper">
						<div class="control-label label-info ">Numéro d'armoire :</div>

                            <div class="col-12 input-group">        
                                <input id="num_armoire" class="keyup form-control" type="text" name="num_armoire" value="" placeholder="Numéro d'armoire"/>
                            </div>
                        
                    </div>
            </div>
             <div id="line-1-bloc-2" class="col-3">
                <div class="d-wrapper">
                    <div class="control-label label-info">Client : </div>
	                    <div class="col-12 input-group">
	                            <input id="nom" type="text" class="keyup form-control" name="nom" value="" placeholder="client"/>
	                     </div>
                </div>

            </div>
            <div id="line-1-bloc-3" class="col-3">
				<div class="control-label label-info">Forfaits : </div>
                    <select id="forfait" name="forfait" class="change form-control" multiple="multiple" >
                            {% for forfait in filtres.forfaits %}
                                <option value="{{forfait.id}}">{{forfait.type_forfait}}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
            <div id="line-1-bloc-3" class="col-1">
		     </div><!--separateur-->

        </div>
        
		

    
    <div class="col-2">
        <div class="filtre btn-group-vertical">
            <input id="search" class="btn" type="button" name="search" value="Rechercher"/>
            <form id="download-form" action="/download/" method="POST">
                    {% csrf_token %}
                    <input id="download-button" class="download btn btn-success" type="submit" name="download" value="T&eacute;l&eacute;charger"/>
            </form>
        </div><!-- /group-vertical -->
    </div>
</div>
