<!-- graphes par annees -->
<div class="row">
		<div class="col-12">
			<h4>S&eacute;ances de l'ann&eacute;e en cours</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-5">
			<canvas id="bar-chart-nb-year" height="130">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barYearNb = document.getElementById('bar-chart-nb-year');
				var labels={{labels_year|safe}};
				var raw_datas={{dataset_year |safe }};
				var myChart = new Chart(barYearNb, barGraph(labels,raw_datas,'nb','nombre de séances',' '));
			</script>
		</div>
		<div class="col-5">
			<canvas id="bar-chart-duration-year">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barYearDuration = document.getElementById('bar-chart-duration-year');
				var labels={{labels_year|safe}};
				var raw_datas={{dataset_year|safe}};
				var myChart = new Chart(barYearDuration, barGraph(labels,raw_datas,'durees','Durées d\'entraînements','h'));
			</script>
		</div>
		<div class="col-2">
			<h2 class="titre-filtre">Filtre par sport</h2>
				<form action="javascript:void(0);">
				<div class="control-label label-info">Sports : </div>
                    <select id="filtre-sport-annees" name="sport_type" class="change form-control" multiple="multiple" >
                            {% for sport in liste_sports_annees %}
                                <option value="{{sport.id}}">{{sport.sport}}</option>
                            {% endfor %}
                    </select>
                <div><input id="sport-annees" style="width:100%" class="btn btn-secondary" type="button" name="filter_sport_year" value="Filtrer"/></div>
                </form>
		</div>
	</div>
	<div class="row">
		<div class="col-5">
			<canvas id="bar-chart-distance-year">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barYearDistance = document.getElementById('bar-chart-distance-year');
				var labels={{labels_year|safe}};
				var raw_datas={{dataset_year|safe}};
				var myChart = new Chart(barYearDistance, barGraph(labels,raw_datas,'distance','Distances parcourues','km'));
			</script>
		</div>
		<div class="col-5">
			<canvas id="bar-chart-deniv-year">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barYearDeniv = document.getElementById('bar-chart-deniv-year');
				var labels={{labels_year|safe}};
				var raw_datas={{dataset_year|safe }};
				var myChart = new Chart(barYearDeniv, barGraph(labels,raw_datas,'denivelle','dénivellé cumulé','m'));
			</script>
		</div>
		<div class="col-2">
			<h3 class="titre-resume">R&eacute;sum&eacute; annuel des s&eacute;ances : </h3>
			<div class="resume">
				<p class="ligne">
					<span class="label">Nombre : </span><span class="valeur">{{nb_annees}}</span>
				</p>
				<p class="ligne">
					<span class="label">Dur&eacute;e : </span><span class="valeur">{{duree_annees}}</span>
				</p>
				<p class="ligne">
					<span class="label">Distance : </span><span class="valeur">{{distance_annees|floatformat:0}} kms</span>
				</p>
				<p class="ligne">
					<span class="label">D&eacute;nivell&eacute; : </span><span class="valeur">{{denivele_annees}} m</span>
				</p>
			</div>
		</div>
	</div>
