<!-- graphes par mois -->
<div class="row">
		<div class="col-12">
			<h4>S&eacute;ances du mois en cours</h4>
		</div>  
    </div>
    <div class="row">
		<div class="col-5">
			<canvas id="bar-chart-duration-month">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barMonthDuration = document.getElementById('bar-chart-duration-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month|safe}};
				var myChart = new Chart(barMonthDuration, barGraph(labels,raw_datas,'durees','Durées d\'entraînements','h'));
			</script>
		
		</div>
		<div class="col-5">
			<canvas id="bar-chart-distance-month">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barMonthDistance = document.getElementById('bar-chart-distance-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month|safe}};
				var myChart = new Chart(barMonthDistance, barGraph(labels,raw_datas,'distance','Distances parcourues','km'));
			</script>
		
		</div>
		<div class="col-2">
			
				<h2 class="titre-filtre">Filtre par sport</h2>
				<form action="javascript:void(0);">
				<div class="control-label label-info">Sports : </div>
                    <select id="filtre-sport-mois" name="sport_type" class="change form-control" multiple="multiple" >
                            {% for sport in liste_sports_mois %}
                                <option value="{{sport.id}}">{{sport.sport}}</option>
                            {% endfor %}
                    </select>
                <div><input id="sport-mois" style="width:100%" class="btn btn-secondary" type="button" name="filter_sport_month" value="Filtrer"/></div>
                </form>
		</div>
    </div>
    <div class="row">
		<div class="col-5">
			<canvas id="bar-chart-denivelle-month">
			
			</canvas>
			<script type="text/javascript" language="javascript">
				var barMonthDenivelle = document.getElementById('bar-chart-denivelle-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month|safe}};
				var myChart = new Chart(barMonthDenivelle, barGraph(labels,raw_datas,'denivelle','Dénivellés cumulés','m'));
			</script>
		</div>
		<div class="col-5">
			
		</div>
		<div class="col-2">
			<h3 class="titre-resume">R&eacute;sum&eacute; mensuel des s&eacute;ances : </h3>
			<div class="resume">
				<p class="ligne">
					<span class="label">Nombre : </span><span class="valeur">{{nb_mois}}</span>
				</p>
				<p class="ligne">
					<span class="label">Dur&eacute;e : </span><span class="valeur">{{duree_mois}}</span>
				</p>
				<p class="ligne">
					<span class="label">Distance : </span><span class="valeur">{{distance_mois|floatformat:0}} kms</span>
				</p>
				<p class="ligne">
					<span class="label">D&eacute;nivell&eacute; : </span><span class="valeur">{{denivele_mois}} m</span>
				</p>
			</div>
		</div>
	</div>
