{% include 'filtre_kanban.html' %}


<section id="dashboard-content" class="section">
    
<div id="message"
	{% if not messages %}
		style="display:none;"
	{% endif %}
>
	<div id="body-message" class="row">
		<div id="message-header" class="col-12">Message : <div id="close-message">x</div></div>
		<ul class="messages">
			{% autoescape off %}
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
			{% endautoescape %}
		</ul>
	</div>
	</div><!-- /DIV MESSAGE -->
	<div id="kanban-content">
		{% include "partiel_kanban.html" %}
	</div>
 </section>
