{% include 'filtre_projets.html' %}
<input type="hidden" id="objet" name="objet" value="projet"/>
{% autoescape off %}
<div id="list-header" class="row">
    <div id="total-items" class="col-4 top-info">
            <span id="nb-elts">
                {{total_elts}}
            </span>
            <span>
                &eacute;l&eacute;ments trouv&eacute;s
            </span>

    </div>
    <div id="paginator-over" class="paginator col-4 text-center">{{ pagination }}</div>
    <div id="empty-col" class="col-4">
        <span id="nb-elts-select" class="top-info">
                <select id="nb-elts-pages" name="nb_elts_pages">
                    <option value="10" {% if nb == 10 %} selected {% endif %}>10</option>
                    <option value="25" {% if nb == 25 %} selected {% endif %}>25</option>
                    <option value="50" {% if nb == 50 %} selected {% endif %}>50</option>
                    <option value="100" {% if nb == 100 %} selected {% endif %}>100</option>
                </select>
            &eacute;l&eacute;ments par page
            </span>
    </div>
</div>
{% endautoescape %}
<style>
	
</style>

{% if projets %}
<div class="row">
    <div class="col-12">
<table id="tableau-items" class="table table-striped">
    <thead class="table-header thead-light">
    <tr>
        <td rowspan="2">
            <div class="header-elt">Id</div>
            <div data-field="id" data-sens="asc" class="sortarrow sort asc"></span>
        </td>
        <td rowspan="2">
            <div class="header-elt">Client</div>
            <div data-field="client" data-sens="asc" class="sortarrow sort asc"></div>
        </td>
        <td rowspan="2">
            <div class="header-elt">Type de projet</div>
            <div data-field="type_projet" data-sens="asc" class="sortarrow sort asc"></div>
        </td>
        <td rowspan="2">
            <div class="header-elt">Numéro d'armoire</div>
             <div data-field="numero_armoire" data-sens="asc" class="sortarrow sort asc"></div>
        </td>
        <td rowspan="2">
            <div class="header-elt">Date début forfait en cours</div>
            <div data-field="debut_forfait" data-sens="asc" class="sortarrow sort asc"></div>
        </td>
        <td rowspan="2">
            <div class="header-elt">Type de forfait</div>
            <div data-field="forfait" data-sens="asc" class="sortarrow sort asc"></div>

        </td>
         <td colspan="3">
            <div class="header-elt">Consommation forfait</div>
        </td>
       
         <td rowspan="2">
            <div class="header-elt">T&acirc;ches en cours</div>    
        </td>
        <td rowspan="2">
            <div class="header-elt">Prochaine prise de contact</div>
            <div data-field="last_touch" data-sens="asc" class="sortarrow sort asc"></div>
        </td>
         <td rowspan="2">
            <div class="header-elt">Prestations</div>
        </td>
        <td rowspan="2">
            <div class="header-elt">D&eacute;tails</div>
        </td>
    </tr>
    <tr>
		<td>
            <div class="header-elt">Jours</div>    
        </td>
		 <td>
            <div class="header-elt">Nb</div>    
        </td>
        <td>
            <div class="header-elt">Volume</div>    
        </td>
    </tr>
    </thead>
    <tbody>
    {% for p in projets %}
    <tr id="line-{{p.id}}" data-id="{{p.id}}" class="line {% cycle  'odd' 'even' %} projet">
        <td class="cell id" >{{p.id}}</td>
        <td class="cell client"><a href="/client/{{p.client.id}}">{{p.client.nom}}</a></td>
        <td class="cell type_projet" >{{p.type_projet}}</td>
        <td class="cell num_armoire">{{p.num_armoire}}</td>
        <td class="cell debut_forfait">{{p.debut_forfait}}</td>
        <td class="cell categorie_forfait">{{p.categorie_forfait}} </td>
        <td class="wp_cell wp_jours">
			<table>
				<tr>
					<td class="cell  comp">
						<span class="diag-text-left nb_jours" >{{p.nb_jours}}</span>
					</td>
					<td class="cell empty no-diag">
						<span class="diag-text" >&nbsp;</span>
					</td>
				</tr>
				<tr>
					<td class="cell empty no-diag">
						<span class="diag-text" >&nbsp;</span>
					</td>
					<td class="cell  comp-light">
						<span class="diag-text-right conso_nb_jours" >{{p.conso_nb_jours}}</span>
					</td>
				</tr>
			</table>
		</td>
        <!--<td class="cell conso_nb_jours">{% if p.conso_nb_jours == -1 %} ND {% else %} {{p.conso_nb_jours}} % {% endif %}</td>-->
        <td class="wp_cell wp_nb_docs">
			<table>
				<tr>
					<td class="cell  comp">
						<span class="diag-text-left nb_docs" >{{p.nb_docs}}</span>
					</td>
					<td class="cell empty no-diag">
						<span>&nbsp;</span>
					</td>
				</tr>
				<tr>
					<td class="cell empty no-diag">
						<span>&nbsp;</span>
					</td>
					<td class="cell  comp-light">
						<span class="diag-text-right conso_nb_docs" >{{p.conso_nb_docs}}</span>
					</td>
				</tr>
			</table>
		</td>
		<td class="wp_cell wp_volume_docs">
			<table>
				<tr>
					<td class="cell  comp">
						<span class="diag-text-left volume_docs" >{{p.volume_docs}}</span>
					</td>
					<td class="cell empty no-diag">
						<span>&nbsp;</span>
					</td>
				</tr>
				<tr>
					<td class="cell empty no-diag">
						<span>&nbsp;</span>
					</td>
					<td class="cell  comp-light">
						<span class="diag-text-right conso_volume_docs" >{{p.conso_volume_docs}}</span>
					</td>
				</tr>
				
			</table>
		</td>
        <td class="cell taches">
            {% for t in p.taches %}
                <p>{{t}}</p>
            {% endfor %}
        </td>
        <td class="cell echanges">
            {% for e in p.echanges %}
                <p>{{e}}</p>
            {% endfor %}
        </td>
        <td class="cell prestations">
            {% for pres in p.prestations %}
                <p>{{pres}}</p>
            {% endfor %}
        </td>
        <td class="cell details edit"><a href="/projet/{{p.id}}/">Voir</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% autoescape off %}
   <div id="list-under" class="row">
	<div class="col-4"></div>
    <div id="paginator-under" class="paginator col-4 text-center" >{{ pagination }}</div>
    <div class="col-4"></div>
</div>
{% endautoescape %}
{% else %}
<p id="message-liste">Aucun(e) item n'a pour le moment &eacute;t&eacute; trouv&eacute;.</p>
{% endif %}
