<table class='table table-striped'>
	<thead class='thead-light'>
		<tr>
			<th>Nom</th>
			<th>Prévue le</th>
			<th>Echéance</th>
			<th >Statut</th>
			<th>Responsables</th>
			<!--<th>Description</th>-->
			<th>Edition</th>
		</tr>
	</thead>
	<tbody>
		{% for ta in taches %}
		<tr>
			<td class="task-nom">{{ta.nom}}</td>
			<td class="tast-date">{{ta.date_programmee|date:"d/m/Y"}}</td>
			<td class="task-echeance">{{ta.date_echeance|date:"d/m/Y"}}</td>
			<td class="task-statut">{{pr.statut}}</td>
			<td class="task-personne">{{ta.personne_en_charge}}</td>
			<!--<td class="task-description">{{ta.description}}</td>-->
			<td class="task-edit"><a id="tache-{{tache.id}}-edit" class="edit" data-objet="tache" data-id="{{ta.id}}" href='/admin/dashboard/tache/{{ta.id}}/change/'>Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
