<div class="titre-action row">
		<div class="col-12">
			<h1>Visualisation du projet</h1>
		</div>
	</div>
    <div class="row " style="display:flex;">
		<div class="col-{{largeur_separateur}} separateur">
			&nbsp;
		</div>
		{% for state,kanban in kanban.items %}
			<div class="col-{{largeur_col}} kanban-wrapper radius" style="display:vertical;">
				<p class="titre-accueil ">{{state}}</p>
				{% for elt in kanban %}
				<div class="carte" style="background-color:{{elt.task_type.color}};">
						{% include 'carte.html' %}
				</div>
				{% endfor %}
			</div>
		{% endfor %}
		<div class="col-{{largeur_separateur}} separateur">
			&nbsp;
		</div>
    </div>
   
