<div class="row">
	<div class="col-10">
		<ul  id="legend-mois" height="30px">
		
		</ul>
		
	</div>
</div>
<!--  nb , durée, km, dénivellé par mois une courbe par annee  -->

<div class="row">
		<div class="col-5">
			<canvas id="stats-chart-nb-month">
			
			</canvas>
			<script>
				var StatsMonthsNb = document.getElementById('stats-chart-nb-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month |safe }};
				var myChartYearByMonth = new Chart(StatsMonthsNb, lineGraph(labels,raw_datas,'nb','nombre de séances',' '));
				document.getElementById("legend-mois").innerHTML=myChartYearByMonth.generateLegend();
			</script>
		</div>
		<div class="col-5">
			<canvas id="stats-chart-duration-month">
			
			</canvas>
			<script>
				var StatsMonthDuration = document.getElementById('stats-chart-duration-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month|safe}};
				var myChart = new Chart(StatsMonthDuration, lineGraph(labels,raw_datas,'duree','Durées d\'entraînements','h'));
			</script>
		</div>
		<div class="col-1">
				<form action="javascript:void(0);">
				<div class="control-label text-center">Filtre sports</div>
                    <select id="filtre-stats-sport-bymonth" name="filtre-stats-sport-bymonth" class="change form-control" multiple="multiple" >
                            {% for sport in filtre_sports %}
                                <option value="{{sport.id}}">{{sport}}</option>
                            {% endfor %}
                    </select>
                <div><input id="input-stats-sport-bymonth" style="width:100%" class="btn btn-secondary" type="button" name="input-stats-sport-bymonth" value="Filtrer"/></div>
                </form>
		</div>
		<div class="col-1">
				<form action="javascript:void(0);">
				<div class="control-label">Filtre années</div>
                    <select id="filtre-stats-year-bymonth" name="filtre-stats-year-bymonth" class="change form-control" multiple="multiple" >
                            {% for annee in liste_annees %}
                                <option value="{{annee}}">{{annee}}</option>
                            {% endfor %}
                    </select>
                <div><input id="input-stats-year-bymonth" style="width:100%" class="btn btn-secondary" type="button" name="input-stats-year-bymonth" value="Filtrer"/></div>
                </form>
		</div>
</div>
<div class="row">
		<div class="col-5">
			<canvas id="stats-chart-distance-month">
			
			</canvas>
			<script>
				var StatsMonthsDistance = document.getElementById('stats-chart-distance-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month |safe }};
				var myChart = new Chart(StatsMonthsDistance, lineGraph(labels,raw_datas,'distance','Distances parcourues','km'));
			</script>
		</div>
		<div class="col-5">
			<canvas id="stats-chart-denivele-month">
			
			</canvas>
			<script>
				var StatsMonthDenivele = document.getElementById('stats-chart-denivele-month');
				var labels={{labels_month|safe}};
				var raw_datas={{dataset_month|safe}};
				var myChart = new Chart(StatsMonthDenivele, lineGraph(labels,raw_datas,'denivele','Dénivelés cumulés','m'));
			</script>
		</div>
		<div class="col-1">
				
		</div>
		<div class="col-1">
				
		</div>
</div>
