<div class="row">
	<div class="col-8">
		<ul  id="legend-glob" height="30px">
		
		</ul>
		
	</div>
</div>
<div class="row h-100 justify-content-center align-items-center">
		<div class="col-2">
			<canvas id="stats-pie-nb-glob" width="250px" height="250px">
			
			</canvas>
			<script>
				var StatsGlobNb = document.getElementById('stats-pie-nb-glob');
				var labels={{labels_globales|safe}};
				var raw_datas={{datas_globales|safe }};
				var myChartNbGlob = new Chart(StatsGlobNb, pieGraph(labels,raw_datas,'nb','nombre de séances',' '));
				document.querySelector('#legend-glob').innerHTML = myChartNbGlob.generateLegend();
			</script>
		</div>
		<div class="col-2">
			<canvas id="stats-pie-duration-glob" width="250px" height="250px">
			
			</canvas>
			<script>
				var StatsGlobDuration = document.getElementById('stats-pie-duration-glob');
				var labels={{labels_globales|safe}};
				var raw_datas={{datas_globales|safe}};
				var myChart = new Chart(StatsGlobDuration, pieGraph(labels,raw_datas,'duree','Durées d\'entraînements','h'));
			</script>
		</div>
		<div class="col-2">
			<canvas id="stats-pie-distance-glob" width="250px" height="250px">
			
			</canvas>
			<script>
				var StatsGlobDistance = document.getElementById('stats-pie-distance-glob');
				var labels={{labels_globales|safe}};
				var raw_datas={{datas_globales|safe }};
				var myChartGlobDistance = new Chart(StatsGlobDistance, pieGraph(labels,raw_datas,'distance','Distance totale parcourue',' km'));
			</script>
		</div>
		<div class="col-2">
			<canvas id="stats-pie-denivele-glob" width="250px" height="250px">
			
			</canvas>
			<script>
				var StatsGlobDenivele = document.getElementById('stats-pie-denivele-glob');
				var labels={{labels_globales|safe}};
				var raw_datas={{datas_globales|safe}};
				var myChart = new Chart(StatsGlobDenivele, pieGraph(labels,raw_datas,'denivele','Dénivelé positif total','m'));
			</script>
		</div>
		<div class="col-2"></div>
		<div class="col-1">
				<form action="javascript:void(0);">
				<div class="control-label text-center">Filtre sports</div>
                    <select id="filtre-stats-sports-glob" name="filtre-stats-sports-glob" class="change form-control" multiple="multiple" >
                            {% for sport in filtre_sports %}
                                <option value="{{sport.id}}">{{sport}}</option>
                            {% endfor %}
                    </select>
                <div><input id="input-stats-sport-glob" style="width:100%" class="btn btn-secondary" type="button" name="input-stats-sport-glob" value="Filtrer"/></div>
                </form>
		</div>
		<div class="col-1">
				<form action="javascript:void(0);">
				<div class="control-label">Filtre années</div>
                    <select id="filtre-stats-year-glob" name="filtre-stats-year-glob" class="change form-control" multiple="multiple" >
                            {% for annee in liste_annees %}
                                <option value="{{annee}}">{{annee}}</option>
                            {% endfor %}
                    </select>
                <div><input id="input-stats-year-glob" style="width:100%" class="btn btn-secondary" type="button" name="input-stats-year-glob" value="Filtrer"/></div>
                </form>
		</div>
</div>
