<h1 class="text-center">Statistiques</h1>
<!--  nb et durees parcourues générales camenberts -->
<div class="row">
	<h2 class="text-center">Statistiques globales</h2>
</div>
<div id="stats-globales">
	{% include 'stats-globales.html' %}
</div>

<!--  nb , durée, km, dénivellé par années batons  -->
<div class="row">	
	<h2 class="text-center">Statistiques annuelles par mois</h2>
</div>
<div id="stats-annees-mois">
	{% include 'stats-annees-mois.html' %}
</div>

<div class="row">	
	<h2 class="text-center">Statistiques annuelles par sports</h2>
</div>
<div id="stats-annees">
	{% include 'stats-annees.html' %}
</div>

