<footer class="row footer" role="contentinfo">
    <div class=" hidden-xs hidden-sm col-md-4 col-lg-4">&nbsp;
        <p class=""></p>
    </div>
    <div class="foot-infos-legales col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <p class="widget-title">Informations l&eacute;gales</p>
        <ul>
            <li><a href="/"><span class="info">application et th&egrave;me cr&eacute;&eacute; par &copy;agprog.net</span></a></li>
            <li><a href="/mentions">Mentions l&eacute;gales</a></li>
            <li><a href="/contact">Me contacter</li>
        </ul>
    </div><!-- .site-info -->
    <div class="foot-sidebar col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <p class="widget-title">Retour application</p>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/importer/">Importer/Filtrer les données</a></li>
            <li><a href="/admin/">Administration</a></li>
        </ul>
    </div><!-- fin sidebar-->
</footer>
